<launch>

  <node name="laser_profile_commander"
        pkg="pr2_picking" type="robot_cal_tilt_profile.py"
        args="laser_tilt_controller" >
    <rosparam>
      cycle_time: 5.0
      max_tilt_angle: 1.0
      min_tilt_angle: -0.7
    </rosparam>
  </node>

  <node name="laser_assembler"
        pkg="laser_assembler" type="laser_scan_assembler" >
    <remap from="scan" to="tilt_scan" />
    <rosparam>
      fixed_frame: base_link
      max_scans: 200
      tf_cache_time_secs: 10.0
    </rosparam>
  </node>

  <node name="assemble_scans_client"
        pkg="laser_scan_3d" type="assemble_scans2.py" >
    <remap from="scan" to="tilt_scan"/>
    <rosparam>
      assemble_interval: 5.0
      queue_size: 10
    </rosparam>
  </node>

  <node name="rviz"
        pkg="rviz" type="rviz"
        args="-d $(find laser_scan_3d)/rviz/pr2.rviz" />

</launch>

