<launch>
  <include file="$(find rplidar_ros)/launch/rplidar.launch" />

  <!-- launch ROS service "laser_assembler" -->
  <node name="laser_assembler" pkg="laser_assembler"
	type="laser_scan_assembler" >
    <remap from="scan" to="scan" />
    <param name="max_scans" type="int" value="400" />
    <param name="fixed_frame" type="string" value="map" />
  </node>

  <node name="assemble_scans_client" pkg="laser_scan_3d" type="assemble_scans2.py" />

  <node name="laser_scan_to_point_cloud2" pkg="3d_laser_scan" type="laser_scan_to_point_cloud2.py" />

  <node name="tf_pub" pkg="tf" type="static_transform_publisher" args="0 0 0 0 0 0 /laser /map 500" />

  <node name="rviz" pkg="rviz" type="rviz" args="-d $(find rplidar_ros)/rviz/rplidar.rviz" />

</launch>

