<launch>
  <include file="$(find rplidar_ros)/launch/rplidar.launch" />

  <!-- launch ROS service "laser_assembler" -->
  <node name="laser_assembler"
        pkg="laser_assembler" type="laser_scan_assembler" >
    <remap from="scan" to="scan" />
    <rosparam>
      fixed_frame: map
      max_scans: 400
      tf_cache_time_secs: 10.0
    </rosparam>
  </node>

  <node name="assemble_scans_client"
        pkg="laser_scan_3d" type="assemble_scans2.py" >
    <remap from="scan" to="scan" />
    <rosparam>
      assemble_interval: 10.0
      queue_size: 10
    </rosparam>
  </node>

  <node name="tf_pub"
        pkg="tf" type="static_transform_publisher"
        args="0 0 0 0 0 0 /laser /map 20" />

  <node name="rviz"
        pkg="rviz" type="rviz"
        args="-d $(find rplidar_ros)/rviz/rplidar.rviz" />

</launch>

